.image-gallery{
    display: flex;
    justify-content: center;
}
.image-gallery-image{
    height: auto !important;
    max-height: 350px !important;
    width: auto !important;
    border-radius: 40px  !important;
    max-width: 100%  !important;
}
