.image-gallery{
    display: flex;
    justify-content: center;
}
.landing-highlight img{
    height: auto !important;
    max-height: 350px !important;
    width: auto !important;
    border-radius: 40px  !important;
    max-width: 100%  !important;
}
.event-front img{
    height: auto !important;
    max-height: 400px !important;
    width: auto !important;
    border-radius: 20px  !important;
    max-width: 100%  !important;
}
.faculty-front img{
    height: auto !important;
    max-height: 400px !important;
    width: auto !important;
    border-radius: 20px  !important;
    max-width: 100%  !important;
}
