@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');*/

body{
    font-family: 'Poppins';
    background-color: #F1F1F5;
}

.sidebar-open{
    width: 180px;
}

.sidebar-close{
    width: 0px;
}